.dice {
    text-align: center;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursorAsPointer {
    cursor: pointer;
}

h1 {
    vertical-align: middle;
}

.hold {
    border: 5px solid black;
}

.released {
    border: 5px solid #83b9b7;
}