.app {
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    height: 75vh;
    width: 75%;
    margin: auto;
}

.diceContainer {
    grid-column-start: 0;
    grid-row-start: 1;
    display: flex;
    justify-content: space-evenly;
}