.app {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
}

.diceContainer {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    transform: translate(50%, 50%);
}