.app {
    height: 75vh;
    width: 35%;
    margin: auto;
}

.diceContainer {
    display: flex;
    justify-content: space-between;
}

.rollContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 150px;
}